ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* ul.topnav li a:hover:not(.active) {background-color: #111;} */

ul.topnav li.right {float: right; background-color: black;}
.link:hover{
    background-color: white;
    color: black;
}